.row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.bloc{
    float: left;
}

body{
    background-image:url(chef\ cuiz.jpg) ;
}
.mimi{
    background-color: aquamarine;

}

.mama{
    background-color: lightcoral;
}

.momo{
    background-color: darkorange;

}

.mymy{
    background-color: goldenrod;

}

.mumu{
    background-color: royalblue;

}

.mémé{
    background-color:rosybrown ;

}